openai==1.78.1
langchain-community==0.3.24
vllm==0.8.5.post1
transformers==4.51.3
sentence-transformers==4.1.0
gptcache==0.1.44
torch==2.6.0
pymilvus[lite]==2.5.8
pypdf==5.5.0
numpy==2.2.5
tqdm==4.67.1
rich==14.0.0
streamlit==1.45.1
sentencepiece==0.2.0
